.img-templ{
	margin-bottom: 20px;
	width: 200px;
	margin-top: 30px;
}

.fixed-header
{
	font-family: Rockwell;
}

/*All buttons use .btn class, and then colour variations are added through JS*/
.btn
{
	color: #FFFFFF;
	border: none;
	margin-bottom: 10px;
}

.btn:hover
{
  background: #939393;
}

.btn:focus 
{
	border: solid #939393;
}

.btn-abt
{
	background: #FF3300;
}

.btn-exp
{
	background: rgb(110, 37, 74);
}

.btn-awa
{
	background: #00A400;
}

.btn-edu
{
	background: #3366CC;
}

.btn-skill
{
	background: #FF5050;
}

.btn-int
{
	background: #009999;
}

.fill-text
{
	text-align:center;
	margin-left: 10%;
	margin-right: 10%;
}

.bg-1 {
    background-color: #2B2B2B;
	background-image: url('../Images/background/simple-one-color-grey-background-1920x1200.jpg');
    color: #ffffff;
}

/*All box use .box class, and then colour variations are added through JS*/
.box
{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	margin-top: 5%;
	margin-bottom:5%;
}
.box-abt
{
	border: 5px solid #FF3300;
}

.box-exp
{
	border: 5px solid #6E254A;
}

.box-awa
{
	border: 5px solid #99FF33;
}

.box-edu
{
	border: 5px solid #3366CC
}

.box-skill
{
	border: 5px solid #FF5050;
}

.box-int
{
	border: 5px solid #009999;
}

.footer
{
	color: #000000;
	font-family: Rockwell;
    text-decoration: none;
}

a:link {
    text-decoration: none;
	color: #000000;
}

a:visited {
    text-decoration: none;
	color: #000000;
}

a:hover {
    text-decoration: none;
	color: #939393;
}

a:active {
    text-decoration: none;
	color: #000000;
}

/* animations */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}



@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}