.img-templ{
	margin-bottom: 20px;
	width: 200px;
	margin-top: 30px;
}

.fixed-header
{
	font-family: Rockwell;
}

.btn
{
	color: #fffff;
	border: none;
	margin-bottom: 10px;
}

.btn:hover
{
  background: #939393;
}

.btn:focus 
{
	border: solid #939393;
}

.btn-abt
{
	background: #FF3300;
}

.btn-exp
{
	background: rgb(110, 37, 74);
}

.btn-awa
{
	background: #00A400;
}

.btn-skill
{
	background: #FF5050;
}

.btn-int
{
	background: #009999;
}

.fill-text
{
	text-align:center;
	margin-left: 10%;
	margin-right: 10%;
}

.bg-1 {
    background-color: #2B2B2B;
	background-image: url('background/simple-one-color-grey-background-1920x1200.jpg');
    color: #ffffff;
}

.box
{
	background: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	margin-top: 5%;
	margin-bottom:5%;
}
.box-abt
{
	border: 5px solid #FF3300;
}

.box-exp
{
	border: 5px solid #6E254A;
}

.box-awa
{
	border: 5px solid #99FF33;
}

.box-skill
{
	border: 5px solid #FF5050;
}

.box-int
{
	border: 5px solid #009999;
}


.footer
{
	color: #000000;
	font-family: Rockwell;
    text-decoration: none;
}

a:link {
    text-decoration: none;
	color: #000000;
}

a:visited {
    text-decoration: none;
	color: #000000;
}

a:hover {
    text-decoration: none;
	color: #939393;
}

a:active {
    text-decoration: none;
	color: #000000;
}